header
{
	width: 100%;
	height: 13.4em;
	background-color: whitesmoke;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 999px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5) ;

}

.nav__contenedor {
	height: 10em;
}

.nav__contenedor-logo img{
	height: 11em;
	width: auto;	
}

.nav__contenedor-logo {
	position: relative;
	text-align: center;
}

.nav__responsive-ul {
	display: none;
}

ul, ol {
	list-style: none;
}
.nav__ul li a {
	color: black;
	font-family: 'Bebas Neue', sans-serif ;
	font-size: 1.5em;
	text-decoration: none;
	padding: 0.5em 0.7em;
	display: inline-block;
}

.nav__ul > li {
	display: inline-block;
}

.nav__ul li a:hover {
	color: #a9a9a9;
}


.nav__li--active {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.nav__li--active:hover {
	border-bottom: 1px solid #a9a9a9 ;
	border-top: 1px solid #a9a9a9 ;
}

.nav__ul li ul {
	display: none;
	position: relative;
	max-width: 11em ;
}

.nav__ul li:hover > ul {
	display: block;
	background-color: whitesmoke;
	position: absolute;
	border: 1px solid black;
} 
.nav__ul li ul li {
	position: relative;
}
.nav__ul li ul li ul {
	position: relative;
	left: 10.9em;
	top: 0;
}

.nav__contenedor-ul {
	position: relative;
}

.nav__contenedor-ul-1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.nav__ul i {
 	display: inline-block;
	width: 10px;
} 

main 
{
	background-color: white;
	width: 100%;
	height: 120%;

}

.arriba
{
	height: 50%;
	width: 100%;
}

.flex-container 
{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.flex-item
{
	background-color: blue;
	height: 500px;
	width: 500px;
	text-align: center;
	padding: 10px;
	margin: 10px;

}


h1 
{
	color: black;
	text-align: center;
}


footer
{
	background-color: white;
	width: 100%;
	height: 25%;
	} 

.conocenos-main
{
	height: 50%;
}

.flex-item2
{
	height: 400px;
	width: 600px;
	background-color: red;
	justify-content: center;
	margin: 10px;
	margin: 10px;
}

@media only screen and (max-width: 750px) {
	header {
	width: 100%;
	height: 3.5em;
	background-color: whitesmoke;
	z-index: 999px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5) ;
	font-family: 'Bebas Neue', sans-serif ;

}
	.nav__contenedor-ul {
		display: none;
		position: absolute;
	}

	.nav__contenedor-logo img{
	height: 3.5em;
	width: auto;	
}

.nav__responsive-ul {
	display: block;
	float: left; 

	
}

}
ul,ol {
	list-style: none;
}

.nav__responsive-ul li a {
	color: black;
	display: block;
	text-decoration: none;
	padding: 10px 10px
}
.nav__responsive-ul li ul {
	display: none;
	position: relative;
	max width: 11em;
}
.nav__responsive-ul li:hover>ul {
	display: block;
}

.nav__li-container {
	overflow: scroll;
	position: absolute;
	top: 0;
	left: -282px;
	background-color: whitesmoke;
	width: 75%;
	height: 100%;
	border: 1px solid black;
	transition: all 0.5s;
}
.nav__responsive-li-boton {
	border: 0px;
	height: 2em;
	width: 2em;
	background-color: whitesmoke;
	float: right;
}
.nav__li-container-button {
	height: 3.5em;
}
.nav__responsive-button {
	position: absolute;
	padding-top: 5px;
	top: 1em;
	left: .2em;

}
.nav__responsive-button1 {
	border: none;
	background-color: whitesmoke;
}
.nav__responsive-ul:hover > .nav__li-container  {
	position: absolute;
	left: 0;
	top: 0;
}
 

}

